


.header {
    height: 50px;
    margin-block: 1rem;
}

.section-one {
    margin-block: 1rem;
    height: 200px;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.section-one div:nth-child(2) {
    display: grid;
    grid-template-rows: 95px 95px;
    gap: 10px;
}

p {
    color: #fff;
}

.section-two {
    height: 150px;
}



.footer {
    margin-block: 1rem;
    height: 50px;
}


@media (max-width:1100px) {
    .section-one {
        height: 250px; 
    }
    
    .section-one div:nth-child(2) {
        grid-template-rows: 120px 120px;
    }
}

@media screen and (max-width:900px) {
    .section-one {
        height: 300px; 
    }
    
    .section-one div:nth-child(2) {
        grid-template-rows: 145px 145px;
      
    }
}

@media screen  and  (max-width:750px) {
    .section-one {
        grid-template-columns: 100%;
        height: auto;
        gap: 1rem;
    }
}