* {
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
    list-style-type: none;
}


.nav-list {
    margin: 1rem;
}

.nav-list li {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
    border: 2px dashed black;
    outline: 5px solid green;

    /* for 2 values top-bottom || left-right */
    /* for 2 values block || inline */
    padding: 10px 20px;
    padding-top: 6px;
    padding-block: 6px;
    padding-inline: 20px;
    /* for 2 values top || left-right || bottom */
    /* padding: 6px 20px 0px; */
    
    /* for 2 values top || left || right || bottom */
    /* padding: 6px 20px 0px; */
}

.nav-list li:nth-child(2)

.underline * {
    text-decoration: none;
}
.margin-padding-border-outline{
    
}

.border {
    border-width: 0px;
    border-style: dashed;
    border-color: yellow;

}
